@import "tailwindcss";
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);


.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid #01AD5D;
  white-space: nowrap;
  animation:
    typing 2.5s steps(30, end) forwards,
    blink-caret .7s step-end infinite;
  width: 0;
  vertical-align: bottom;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #01AD5D }
}

.typewriter-done {
  border-right: none !important;
  animation: none !important;
  width: auto !important;
}

.card-neon {
  @apply bg-gradient-to-br from-[#000000] via-[#080c09] to-[#012d1a] rounded-2xl border-2 border-green-400 shadow-[0_0_24px_2px_rgba(1,173,93,0.5)];
}

.tag-neon {
    @apply bg-[#01AD5D]/15 text-green-200 text-xs px-3 py-1 rounded-full border border-[#01AD5D] shadow-[0_0_4px_#01AD5D] whitespace-nowrap;
}

@media (max-width: 480px) {
  .typewriter, .typewriter-done {
    white-space: normal !important;
    word-break: break-word;
  }
}
@media (min-width: 760px) and (max-width: 1040px) {
  .typewriter, .typewriter-done {
    white-space: normal !important;
    word-break: break-word;
  }
}


/* Estilos personalizados para a barra de scroll do modal */
.modal-content-scrollable::-webkit-scrollbar {
  width: 8px;
}

.modal-content-scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.modal-content-scrollable::-webkit-scrollbar-thumb {
  background-color: #01AD5D;
  border-radius: 4px;
  border: 2px solid rgba(8, 12, 9, 0.5);
}

.modal-content-scrollable {
  scrollbar-width: thin;
  scrollbar-color: #01AD5D transparent;
}